.seance-box {
    display: flex;
    flex-direction: column; /* Wyświetlaj elementy w kolumnie */
    gap: 10px;
    width: 100%;
    margin-top: 15px;
    background-color: #90cef8;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    justify-content: space-between;
  }

  .seances-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
  }

  .seance-box p {
    margin: 0;
  }
  .seance-box a {
    width: 40%;
  }

html {
    background-size: cover;
    background-color: #cbe0fa;
    min-height: 100%;
  }



